<html>
    <head>
        <title>To do List</title>
        <link rel = "stylesheet" href = "Todolist v1 Starting Styles/styles.css"> 
    </head>
    <body>
        <div class = "box" id="heading">
        <h1>It's <%=listTitle %> !</h1>
        </div>
        
        <div class = "box">
            
            <% for(var i =0;i<newList.length;i++){%>
                <div class = "item">
                    <input type = "checkbox">
             <p> <%= newList[i] %></p>
                </div>
             <% } %>
                
        
            
        

        <form class = "item " action = "/" method = "post">
        <input type = "text" name = "newItem"  placeholder = "New Item" autocomplete = "off">
        <button type = "submit" name = "list" value = <%=listTitle%>>+</button>


        </form>
    </div>
    </body>
</html>
